.user_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: relative;
}

.avatar_wrapper {
    position: relative;
}

.avatar_wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar_wrapper i {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    font-size: 9px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.avatar_wrapper i.online {
    color: #24832c;
}

.avatar_wrapper i.offline {
    color: #888;
}

.details {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.username {
    font-weight: bold;
}

.status {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}