/* Top */
.chat .top {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat .top img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .top .text span {
    font-size: 18px;
    font-weight: bold;
}


/* Center */
.chat .center {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    scrollbar-width: none;
}

.chat .center::-webkit-scrollbar {
    display: none;
}

.chat .center .message {
    width: fit-content;
    max-width: 80%;
    display: flex;
    gap: 20px;
}

.chat .center .message .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .center .message .text p {
    padding: 20px;
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 0px 10px 10px 20px;
    color: white;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.chat-image {
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.chat .center .message .text span {
    font-size: 13px;
    color: #ccc;
    align-self: flex-end;
}

/* Message Own */
.chat .center .message.own {
    width: fit-content;
    align-self: flex-end;
    flex-direction: row-reverse;
}

.chat .center .message.own .text p {
    background-color: rgb(0, 195, 255);
    color: black;
    border-radius: 10px 0px 20px 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.chat .center .message.own .text span {
    align-self: flex-start;
}

.preview-img-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}

.preview-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.cancel-img-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}



/* Bottom */
.chat .bottom {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;
    min-width: 0;
}

.chat .bottom .icon {
    display: flex;
    gap: 20px;
}

.chat .bottom .icon i {
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
}

.chat .bottom input {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    border: none;
    outline: none;
    color: white;
    padding: 18px;
    border-radius: 10px;
}

/* .chat .bottom .emoji {
    position: relative;
}

.chat .bottom .emoji i {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 25px;
}

.chat .bottom .emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
} */

.chat .bottom .sendButton {
    background-color: rgb(0, 195, 255);
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.friend_btn {
    padding: 8px 14px;
    margin-left: auto;
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.friend_btn:hover {
    background: #0956d1;
}

.friend_btn:disabled {
    background: #999;
    cursor: not-allowed;
}

.friend_btn.block {
    background: #dc3545;
}

.friend_actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}


.friend_tag {
    font-size: 18px;
    font-weight: bold;
}

.blocked-message {
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff4d4f;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}